<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="前端,html,css,html5,css3,react,redux,webpack,懒癌,哲学,精神,生活">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <meta name="description" content="乱世天狼 | 前端 | html | css | html5 | css3 | react | redux | webpack | 懒癌 | 哲学 | 精神 | 生活">
  <title>my app</title>
  <%= htmlWebpackPlugin.files.webpackManifest %>
</head>
<body>
  <div id="root"></div>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/typed.min.js"></script>
</body>
</html>